In [1]:
import pandas as pd

In [2]:
raw_data= pd.read_csv("train.csv")
raw_data.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [3]:
raw_data.shape

(69999, 172)

In [4]:
cols =["circle_id","loc_og_t2o_mou","std_og_t2o_mou","loc_ic_t2o_mou","std_og_t2c_mou_6","std_og_t2c_mou_7","std_og_t2c_mou_8","std_ic_t2o_mou_6","std_ic_t2o_mou_7","std_ic_t2o_mou_8",
      "fb_user_6","fb_user_7","fb_user_8","night_pck_user_6","night_pck_user_7","night_pck_user_8","arpu_3g_6","arpu_3g_7","arpu_3g_8","arpu_2g_6","arpu_2g_7","arpu_2g_8",
      "av_rech_amt_data_8","av_rech_amt_data_7","av_rech_amt_data_6","count_rech_3g_8","count_rech_3g_7","count_rech_3g_6","count_rech_2g_8","count_rech_2g_7","count_rech_2g_6",
      "max_rech_data_8","max_rech_data_7","max_rech_data_6","total_rech_data_8","total_rech_data_7","total_rech_data_6","date_of_last_rech_data_8","date_of_last_rech_data_7","date_of_last_rech_data_6",
      "last_date_of_month_6", "last_date_of_month_7", "last_date_of_month_8"]

In [5]:
data= raw_data.drop(cols, axis=1)

In [6]:
data.shape

(69999, 129)

In [7]:
endswithmonthcolumn= []
for name in data.columns:
    if name.endswith(('_6', '_7', '_8')):
        if name[:len(name)-1] not in endswithmonthcolumn:
            endswithmonthcolumn.append(name[:len(name)-1])
endswithmonthcolumn

['arpu_',
 'onnet_mou_',
 'offnet_mou_',
 'roam_ic_mou_',
 'roam_og_mou_',
 'loc_og_t2t_mou_',
 'loc_og_t2m_mou_',
 'loc_og_t2f_mou_',
 'loc_og_t2c_mou_',
 'loc_og_mou_',
 'std_og_t2t_mou_',
 'std_og_t2m_mou_',
 'std_og_t2f_mou_',
 'std_og_mou_',
 'isd_og_mou_',
 'spl_og_mou_',
 'og_others_',
 'total_og_mou_',
 'loc_ic_t2t_mou_',
 'loc_ic_t2m_mou_',
 'loc_ic_t2f_mou_',
 'loc_ic_mou_',
 'std_ic_t2t_mou_',
 'std_ic_t2m_mou_',
 'std_ic_t2f_mou_',
 'std_ic_mou_',
 'total_ic_mou_',
 'spl_ic_mou_',
 'isd_ic_mou_',
 'ic_others_',
 'total_rech_num_',
 'total_rech_amt_',
 'max_rech_amt_',
 'date_of_last_rech_',
 'last_day_rch_amt_',
 'vol_2g_mb_',
 'vol_3g_mb_',
 'monthly_2g_',
 'sachet_2g_',
 'monthly_3g_',
 'sachet_3g_']

In [8]:
month_data= pd.wide_to_long(data, endswithmonthcolumn, i="id", j="month")

In [9]:
month_data_id= month_data.reset_index().drop("id", axis= 1).reset_index()

In [10]:
month_data_id

,index,month,jul_vbc_3g,jun_vbc_3g,churn_probability,aon,aug_vbc_3g,arpu_,onnet_mou_,offnet_mou_,...,total_rech_amt_,max_rech_amt_,date_of_last_rech_,last_day_rch_amt_,vol_2g_mb_,vol_3g_mb_,monthly_2g_,sachet_2g_,monthly_3g_,sachet_3g_
0,0,6,0.00,0.00,0,1958,0.00,31.277,48.58,32.24,...,77,65,6/22/2014,65,0.00,0.00,0,0,0,0
1,1,6,0.00,0.00,0,710,0.00,0.000,0.00,0.00,...,0,0,6/12/2014,0,0.00,0.00,0,0,0,0
2,2,6,0.00,0.00,0,882,0.00,60.806,0.53,53.99,...,70,70,6/11/2014,70,0.00,0.00,0,0,0,0
3,3,6,0.00,0.00,0,982,0.00,156.362,7.26,68.76,...,160,110,6/15/2014,110,0.00,0.00,0,0,0,0
4,4,6,0.00,0.00,0,647,0.00,240.708,21.28,56.99,...,290,50,6/25/2014,25,390.80,0.00,0,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209992,209992,8,0.00,0.00,0,221,0.00,329.136,10.93,381.64,...,512,130,8/31/2014,130,144.31,0.00,0,1,0,0
209993,209993,8,0.00,0.00,0,712,0.00,265.772,232.63,48.06,...,308,44,8/27/2014,42,0.00,0.00,0,0,0,0
209994,209994,8,0.00,0.00,0,879,0.00,279.782,78.44,263.84,...,397,349,8/29/2014,48,0.00,0.00,0,0,0,0
209995,209995,8,1402.96,990.97,0,277,664.25,145.062,6.71,12.56,...,145,145,8/26/2014,0,44.64,658.19,0,0,1,0
209996,209996,8,0.00,0.00,0,1876,0.00,167.961,0.00,0.00,...,198,198,8/25/2014,0,982.54,0.00,1,0,0,0

In [11]:
month_data_id.columns.values

array(['index', 'month', 'jul_vbc_3g', 'jun_vbc_3g', 'churn_probability',
       'aon', 'aug_vbc_3g', 'arpu_', 'onnet_mou_', 'offnet_mou_',
       'roam_ic_mou_', 'roam_og_mou_', 'loc_og_t2t_mou_',
       'loc_og_t2m_mou_', 'loc_og_t2f_mou_', 'loc_og_t2c_mou_',
       'loc_og_mou_', 'std_og_t2t_mou_', 'std_og_t2m_mou_',
       'std_og_t2f_mou_', 'std_og_mou_', 'isd_og_mou_', 'spl_og_mou_',
       'og_others_', 'total_og_mou_', 'loc_ic_t2t_mou_',
       'loc_ic_t2m_mou_', 'loc_ic_t2f_mou_', 'loc_ic_mou_',
       'std_ic_t2t_mou_', 'std_ic_t2m_mou_', 'std_ic_t2f_mou_',
       'std_ic_mou_', 'total_ic_mou_', 'spl_ic_mou_', 'isd_ic_mou_',
       'ic_others_', 'total_rech_num_', 'total_rech_amt_',
       'max_rech_amt_', 'date_of_last_rech_', 'last_day_rch_amt_',
       'vol_2g_mb_', 'vol_3g_mb_', 'monthly_2g_', 'sachet_2g_',
       'monthly_3g_', 'sachet_3g_'], dtype=object)

In [12]:
month_data_id= month_data_id.rename(columns= lambda x: x[:len(x)-1] if x.endswith('_') else x).rename({'index': 'id'}, axis=1)

In [13]:
month_data_id

,id,month,jul_vbc_3g,jun_vbc_3g,churn_probability,aon,aug_vbc_3g,arpu,onnet_mou,offnet_mou,...,total_rech_amt,max_rech_amt,date_of_last_rech,last_day_rch_amt,vol_2g_mb,vol_3g_mb,monthly_2g,sachet_2g,monthly_3g,sachet_3g
0,0,6,0.00,0.00,0,1958,0.00,31.277,48.58,32.24,...,77,65,6/22/2014,65,0.00,0.00,0,0,0,0
1,1,6,0.00,0.00,0,710,0.00,0.000,0.00,0.00,...,0,0,6/12/2014,0,0.00,0.00,0,0,0,0
2,2,6,0.00,0.00,0,882,0.00,60.806,0.53,53.99,...,70,70,6/11/2014,70,0.00,0.00,0,0,0,0
3,3,6,0.00,0.00,0,982,0.00,156.362,7.26,68.76,...,160,110,6/15/2014,110,0.00,0.00,0,0,0,0
4,4,6,0.00,0.00,0,647,0.00,240.708,21.28,56.99,...,290,50,6/25/2014,25,390.80,0.00,0,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209992,209992,8,0.00,0.00,0,221,0.00,329.136,10.93,381.64,...,512,130,8/31/2014,130,144.31,0.00,0,1,0,0
209993,209993,8,0.00,0.00,0,712,0.00,265.772,232.63,48.06,...,308,44,8/27/2014,42,0.00,0.00,0,0,0,0
209994,209994,8,0.00,0.00,0,879,0.00,279.782,78.44,263.84,...,397,349,8/29/2014,48,0.00,0.00,0,0,0,0
209995,209995,8,1402.96,990.97,0,277,664.25,145.062,6.71,12.56,...,145,145,8/26/2014,0,44.64,658.19,0,0,1,0
209996,209996,8,0.00,0.00,0,1876,0.00,167.961,0.00,0.00,...,198,198,8/25/2014,0,982.54,0.00,1,0,0,0

In [14]:
month_data_id.columns.values

array(['id', 'month', 'jul_vbc_3g', 'jun_vbc_3g', 'churn_probability',
       'aon', 'aug_vbc_3g', 'arpu', 'onnet_mou', 'offnet_mou',
       'roam_ic_mou', 'roam_og_mou', 'loc_og_t2t_mou', 'loc_og_t2m_mou',
       'loc_og_t2f_mou', 'loc_og_t2c_mou', 'loc_og_mou', 'std_og_t2t_mou',
       'std_og_t2m_mou', 'std_og_t2f_mou', 'std_og_mou', 'isd_og_mou',
       'spl_og_mou', 'og_others', 'total_og_mou', 'loc_ic_t2t_mou',
       'loc_ic_t2m_mou', 'loc_ic_t2f_mou', 'loc_ic_mou', 'std_ic_t2t_mou',
       'std_ic_t2m_mou', 'std_ic_t2f_mou', 'std_ic_mou', 'total_ic_mou',
       'spl_ic_mou', 'isd_ic_mou', 'ic_others', 'total_rech_num',
       'total_rech_amt', 'max_rech_amt', 'date_of_last_rech',
       'last_day_rch_amt', 'vol_2g_mb', 'vol_3g_mb', 'monthly_2g',
       'sachet_2g', 'monthly_3g', 'sachet_3g'], dtype=object)

In [15]:
month_data_id.to_csv("reduced_data.csv", index= False)